<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/psm.urdf.xacro"/>

  <link name="world"/>
  <xacro:pp_psm_sca
      prefix="$(arg prefix)"
      parent_link="world"
      xyz="1 -0.1 -0.9"
      rpy="0.0 0.0 -1"/>

</robot>
