<!-- -*- mode: xml; -*- -->
<launch>

  <arg name="ecm" default="ECM" />
  <arg name="psm" default="PSM" />

  <arg name="ecm_model" default="$(find dvrk_model)/model/$(arg ecm).urdf.xacro" />
  <arg name="psm_model" default="$(find dvrk_model)/model/$(arg psm).urdf.xacro" />

  <group ns="/dvrk/$(arg ecm)">
      <arg name="gui" default="false" />
      <arg name="rate" default="20" />

      <param name="robot_description" command="rosrun xacro xacro.py $(arg ecm_model) prefix:=$(arg ecm)_" />
      <param name="use_gui" value="$(arg gui)" />
      <param name="rate" value="$(arg rate)" />

      <rosparam param="source_list" subst_value="True">
        [/dvrk/$(arg ecm)/state_joint_current]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <group ns="/dvrk/$(arg psm)">
      <arg name="gui" default="true" />
      <arg name="rate" default="20" />

      <param name="robot_description" command="rosrun xacro xacro.py $(arg psm_model) prefix:=$(arg psm)_" />
      <param name="use_gui" value="$(arg gui)" />
      <param name="rate" value="$(arg rate)" />

      <rosparam param="source_list" subst_value="True">
        [/dvrk/$(arg psm)/state_joint_current]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <node name="rviz" pkg="rviz" type="rviz"
  	args="-d $(find dvrk_model)/rviz_config/$(arg ecm)-$(arg psm).rviz" />

</launch>
